parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/ActualTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/CountTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/DeprecationListTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/DeprecationTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/DiffTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/ErroredTestListTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/ErroredTestTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/ExpectedTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/FailedTestListTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/FailedTestTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/FileTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/IncompleteTestListTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/IncompleteTestTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/LineTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/MessageTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/NoticeListTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/NoticeTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/ReportTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/RiskyTestListTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/RiskyTestTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/ShellExitCodeTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/SkippedTestListTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/SkippedTestTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/TestIdentifierListTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/TestIdentifierTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/WarningListTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Report/WarningTest.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, Closure\(array\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/JsonReporterTest.php
