parameters:
	ignoreErrors:
		-
			message: '#^Call to function method_exists\(\) with PHPUnit\\TextUI\\Configuration\\Configuration and ''displayDetailsOnPhp…'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Extension.php

		-
			message: '#^Call to function method_exists\(\) with PHPUnit\\TextUI\\Configuration\\Configuration and ''outputIsCompact'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Extension.php

		-
			message: '#^Parameter \#1 \.\.\.\$subscribers of method PHPUnit\\Runner\\Extension\\Facade\:\:registerSubscribers\(\) expects PHPUnit\\Event\\Subscriber, Ergebnis\\PHPUnit\\AgentReporter\\Subscriber\\Test\\BeforeFirstTestMethodFailedSubscriber given\.$#'
			identifier: argument.type
			count: 1
			path: src/Extension.php

		-
			message: '#^Parameter \#2 \.\.\.\$subscribers of method PHPUnit\\Runner\\Extension\\Facade\:\:registerSubscribers\(\) expects PHPUnit\\Event\\Subscriber, Ergebnis\\PHPUnit\\AgentReporter\\Subscriber\\Test\\AfterLastTestMethodFailedSubscriber given\.$#'
			identifier: argument.type
			count: 1
			path: src/Extension.php

		-
			message: '#^Call to function method_exists\(\) with PHPUnit\\TestRunner\\TestResult\\TestResult and ''numberOfPhpunitNoti…'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Reporter/ResultReporter.php

		-
			message: '#^Call to function method_exists\(\) with PHPUnit\\TestRunner\\TestResult\\TestResult and ''numberOfTestSkipped…'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Reporter/ResultReporter.php

		-
			message: '#^Call to function method_exists\(\) with PHPUnit\\TestRunner\\TestResult\\TestResult and ''testRunnerTriggered…'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Reporter/ResultReporter.php

		-
			message: '#^Call to function method_exists\(\) with PHPUnit\\TestRunner\\TestResult\\TestResult and ''testTriggeredPhpuni…'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Reporter/ResultReporter.php

		-
			message: '#^Parameter \#1 \$file of static method PHPUnit\\TestRunner\\TestResult\\Issues\\Issue\:\:from\(\) expects non\-empty\-string, int\|string given\.$#'
			identifier: argument.type
			count: 6
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#1 \$numberOfTests of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#10 \$testTriggeredPhpunitDeprecationEvents of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects array\<string, list\<PHPUnit\\Event\\Test\\PhpunitDeprecationTriggered\>\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#11 \$testTriggeredPhpunitErrorEvents of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects array\<string, list\<PHPUnit\\Event\\Test\\PhpunitErrorTriggered\>\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#12 \$testTriggeredPhpunitWarningEvents of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects array\<string, list\<PHPUnit\\Event\\Test\\PhpunitWarningTriggered\>\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#13 \$testRunnerTriggeredDeprecationEvents of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects list\<PHPUnit\\Event\\TestRunner\\DeprecationTriggered\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#14 \$testRunnerTriggeredWarningEvents of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects list\<PHPUnit\\Event\\TestRunner\\WarningTriggered\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#15 \$errors of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects list\<PHPUnit\\TestRunner\\TestResult\\Issues\\Issue\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#16 \$deprecations of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects list\<PHPUnit\\TestRunner\\TestResult\\Issues\\Issue\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#17 \$notices of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects list\<PHPUnit\\TestRunner\\TestResult\\Issues\\Issue\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#18 \$warnings of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects list\<PHPUnit\\TestRunner\\TestResult\\Issues\\Issue\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#19 \$phpDeprecations of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects list\<PHPUnit\\TestRunner\\TestResult\\Issues\\Issue\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#2 \$line of static method PHPUnit\\TestRunner\\TestResult\\Issues\\Issue\:\:from\(\) expects int\<1, max\>, int\|string given\.$#'
			identifier: argument.type
			count: 7
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#2 \$message of class PHPUnit\\Event\\Code\\Throwable constructor expects string, int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#2 \$message of class PHPUnit\\Event\\TestRunner\\DeprecationTriggered constructor expects string, int\|string given\.$#'
			identifier: argument.type
			count: 2
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#2 \$message of class PHPUnit\\Event\\TestRunner\\WarningTriggered constructor expects string, int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#2 \$numberOfTestsRun of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#20 \$phpNotices of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects list\<PHPUnit\\TestRunner\\TestResult\\Issues\\Issue\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#21 \$phpWarnings of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects list\<PHPUnit\\TestRunner\\TestResult\\Issues\\Issue\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#22 \$numberOfIssuesIgnoredByBaseline of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects int\<0, max\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#3 \$description of static method PHPUnit\\TestRunner\\TestResult\\Issues\\Issue\:\:from\(\) expects non\-empty\-string, int\|string given\.$#'
			identifier: argument.type
			count: 6
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#3 \$message of class PHPUnit\\Event\\Test\\ConsideredRisky constructor expects non\-empty\-string, int\|string given\.$#'
			identifier: argument.type
			count: 3
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#3 \$message of class PHPUnit\\Event\\Test\\PhpunitErrorTriggered constructor expects non\-empty\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#3 \$message of class PHPUnit\\Event\\Test\\PhpunitWarningTriggered constructor expects non\-empty\-string, int\|string given\.$#'
			identifier: argument.type
			count: 2
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#3 \$message of class PHPUnit\\Event\\Test\\Skipped constructor expects string, int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#3 \$numberOfAssertions of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#4 \$testErroredEvents of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects list\<PHPUnit\\Event\\Test\\AfterLastTestMethodErrored\|PHPUnit\\Event\\Test\\BeforeFirstTestMethodErrored\|PHPUnit\\Event\\Test\\Errored\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#5 \$testFailedEvents of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects list\<PHPUnit\\Event\\Test\\Failed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#6 \$testConsideredRiskyEvents of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects array\<string, list\<PHPUnit\\Event\\Test\\ConsideredRisky\>\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#7 \$testSuiteSkippedEvents of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects list\<PHPUnit\\Event\\TestSuite\\Skipped\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#8 \$testSkippedEvents of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects list\<PHPUnit\\Event\\Test\\Skipped\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php

		-
			message: '#^Parameter \#9 \$testMarkedIncompleteEvents of class PHPUnit\\TestRunner\\TestResult\\TestResult constructor expects list\<PHPUnit\\Event\\Test\\MarkedIncomplete\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: test/Unit/Reporter/ResultReporterTest.php
