includes:
	- phpstan-baseline.neon

parameters:
	excludePaths:
		# phpunit/phpunit:^12.2.0 introduced the events these subscribers subscribe to, while static analysis runs against phpunit/phpunit:^10.5.62
		- src/Subscriber/Test/AfterLastTestMethodFailedSubscriber.php
		- src/Subscriber/Test/BeforeFirstTestMethodFailedSubscriber.php
		- test/EndToEnd/*/ExampleTest.php
		- test/Phar/*/ExampleTest.php

	inferPrivatePropertyTypeFromConstructor: true

	level: max

	paths:
		- src/
		- test/
		- .php-cs-fixer.php
		- rector.php

	tmpDir: .build/phpstan/

	treatPhpDocTypesAsCertain: false
